@media screen and (max-width: 600px) {
    .nav-item {
      float: none;
      width: 100%;
    }
    .nav-brand {
      margin: 0%;
      padding: 0%;
    }
    #nav-bar {
      height: var(--nav-responsive-height) !important;
      display: block !important;
    }
  }

#nav-bar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    align-items: center;
    overflow: hidden;
    display: flex;
}

.nav-brand {
    font-size: xx-large;
    font-weight: bolder;
    color: green;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.nav-a {
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
    text-align: center;
    font-size: x-large;
    border-bottom: 3px dashed green;
}

.nav-item {
  display: block;
  float: left;
  margin: 10px;
}