@media screen and (max-width: 600px) {
    .nav-a .nav-brand {
      float: none;
      width: 100%;
    }
  }

nav {
    display: flex;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    align-items: center;
    overflow: hidden;
}

.nav-brand {
    font-size: x-large;
    font-weight: bolder;
    margin: 30px;
    color: green;
    text-decoration: none;
    display: block;
    float: left;
}


.nav-a {
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
    text-align: center;
    margin: 0% 15px 0% 15px;
    font-size: large;
    border-bottom: 3px dashed green;
    display: block;
    float: left;
   
}