
@media screen and (max-width: 600px) {
    .about-me, .journey, .lets-connect {
        padding-top: var(--nav-responsive-height) !important;
    }
  }

.about-me {
    height: 500px;
    background-color: black;
    padding-top: var(--nav-height);
    margin-bottom: 5px;
}

.journey {
    height: 500px;
    background-color: black;
    padding-top: var(--nav-height);
    margin-bottom: 5px;
}

.lets-connect {
    height: 500px;
    background-color: black;
    padding-top: var(--nav-height);
    margin-bottom: 5px;
}

