
.about-me {
    height: 500px;
    background-color: black;
    padding-top: var(--nav-height);
    margin-bottom: 5px;
}

.journey {
    height: 500px;
    background-color: black;
    padding-top: var(--nav-height);
    margin-bottom: 5px;


}

.lets-connect {
    height: 500px;
    background-color: black;
    padding-top: var(--nav-height);
    margin-bottom: 5px;


}

