.sections-container {
    margin-top: 70px;
}

.about-me {
    height: 500px;
    background-color: black;
    margin-top: 70px
}

.journey {
    height: 500px;
    background-color: black;
    margin-top: 70px

}

.lets-connect {
    height: 500px;
    background-color: black;
    margin-top: 70px

}