@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Patrick+Hand&family=Ubuntu+Mono&display=swap');

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu Mono', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  background: fixed;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
